<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeSSxs1TKcBpfJiFC_OR9BSYtkZw_U384</string>
	<key>GCM_SENDER_ID</key>
	<string>274212991371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brijyatra.brijyatraMobile</string>
	<key>PROJECT_ID</key>
	<string>brijyatra-8881f</string>
	<key>STORAGE_BUCKET</key>
	<string>brijyatra-8881f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274212991371:ios:99daf4bb5ffa68bed83f8e</string>
</dict>
</plist>